@import '@styles/_variables.scss';

.sidebar-container {
  background-color: #213554;
  width: 240px;
  position: fixed;
  height: 100vh;
  left: 0;
  .menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logo-container {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 140px;
        object-fit: cover;
      }
    }
  }
  svg {
    width: 16px;
    height: 16px;

    > path,
    > circle {
      fill: #fff;
    }
  }
}
